#!/bin/bash

svStatArray=($(/sw_ux/s6/bin/s6-svstat -o up,pid {{serviceDirectory}}))
up=${svStatArray[0]}
pid=${svStatArray[1]}
procStatArray=($(cat /proc/${pid}/stat))
topStat=($(top -b -n 2 -d 1 -p ${pid} | tail -1 | sed 's/\s\s*/\n/g'))
topStat[8]=$(echo "scale=6; ${topStat[8]} / 100" | bc)
topStat[9]=$(echo "scale=6; ${topStat[9]} / 100" | bc)

if [ "true" == $up ]
  then
    echo "
    {
      \"process\": {\
        \"pid\": ${pid},\
        \"name\": \"${topStat[11]}\",\
        \"status\": {\
          \"alive\": true,\
          \"cpu_percentage\": ${topStat[8]},\
          \"memory_percentage\": ${topStat[9]},\
          \"VmSize\": ${procStatArray[22]},\
          \"VmRSS\": ${procStatArray[23]}\
        }\
      }\
    }" | \
    {{appPathJq}} -c
  else
    echo "
    {
      \"process\": {\
        \"status\": {\
          \"alive\": false\
        }\
      }\
    }" | \
    {{appPathJq}} -c
fi
