#!/bin/bash

svStatArray=($(/sw_ux/s6/bin/s6-svstat -o up,pid {{serviceDirectory}}))
up=${svStatArray[0]}
pid=${svStatArray[1]}
procStatArray=($(cat /proc/${pid}/stat))
topStat=($(top -b -n 2 -d 0.2 -p ${pid}| tail -1 | sed 's/\s\s*/\n/g'))

if [ "true" == $up ]
  then
    echo "
    {
      \"process\": {\
        \"pid\": ${pid},\
        \"name\": \"$(ps -p ${svStatArray[1]} -o comm=)\",\
        \"status\": {\
          \"alive\": true,\
          \"cpu_percentage\": ${topStat[8]},\
          \"memory_percentage\": ${topStat[9]},\
          \"VmSize\": ${procStatArray[22]},\
          \"VmRSS\": ${procStatArray[23]}\
        }\
      }\
    }" | \
    {{appPathJq}} -c
  else
    echo "
    {
      \"process\": {\
        \"status\": {\
          \"alive\": false\
        }\
      }\
    }" | \
    {{appPathJq}} -c
fi
