# Tomcat access
#
[FILTER]
    Name modify
    Match app.{{typeTag}}.access
    Add event.kind event
    Add event.category web
    Add event.dataset tomcat.access{% if tmplTomcatTestAccessIndex %}
    @metadata.index {{ tmplTomcatTestAccessIndex }}{% endif %}

# Parser filter for tomcat multiline core parsing
#
[FILTER]
    Name parser
    Match app.{{typeTag}}.localhost
    Key_Name message
    Parser parser-filter-regex-tomcat-{{typeTag}}
    Reserve_Data On
    Preserve_Key On

# Parser filter for tomcat multiline core parsing
#
[FILTER]
    Name parser
    Match app.{{typeTag}}.catalina
    Key_Name message
    Parser parser-filter-regex-tomcat-{{typeTag}}
    Reserve_Data On
    Preserve_Key On

# Parser filter for generic multiline core parsing
#
[FILTER]
    Name parser
    Match app.{{typeTag}}.generic
    Key_Name message
    Parser parser-filter-regex-generic-{{typeTag}}
    Reserve_Data On
    Preserve_Key On

# Tomcat localhost
#
[FILTER]
    Name modify
    Match app.{{typeTag}}.localhost
    Add event.kind event
    Add event.category web
    Add event.dataset tomcat.localhost{% if shimDisableMultilineKey %}
    Add log.file.path /unknown.log
    Add event.sequence 0{% endif %}{% if tmplTomcatTestLocalhostIndex %}
    @metadata.index {{ tmplTomcatTestLocalhostIndex }}{% endif %}

# Tomcat catalina
#
[FILTER]
    Name modify
    Match app.{{typeTag}}.catalina
    Add event.kind event
    Add event.category web
    Add event.dataset tomcat.catalina{% if shimDisableMultilineKey %}
    Add log.file.path /unknown.log
    Add event.sequence 0{% endif %}{% if tmplTomcatTestCatalinaIndex %}
    @metadata.index {{ tmplTomcatTestCatalinaIndex }}{% endif %}

# App logs (generic)
#
[FILTER]
    Name modify
    Match app.{{typeTag}}.generic
    Add event.kind event
    Add event.category web
    Add event.dataset application.log
    Add @metadata.timestampFormat YYYY-MM-DD-HH:mm:ss.SSS{% if shimDisableMultilineKey %}
    Add log.file.path /unknown.log
    Add event.sequence 0{% endif %}{% if tmplTomcatTestApplicationIndex %}
    @metadata.index {{ tmplTomcatTestApplicationIndex }}{% endif %}

# Application fields
#
[FILTER]
    Name modify
    Match app.{{typeTag}}*
    Add labels.project {{ app | lower }}
    Add service.name {{ component | lower }}
    Add service.environment {{ environment }}