[INPUT]
    Name cpu
    Tag  {{typeTag}}.host.cpu
    Interval_Sec 30

[INPUT]
    Name mem
    Tag  {{typeTag}}.host.memory
    Interval_Sec 30

[INPUT]
    Name exec
    Tag  {{typeTag}}.host.disk_usage
    Command  ${FLUENT_CONF_HOME}/{{typeTag}}/scripts/disk_free.sh
    Interval_Sec 60
    Parser  {{typeTag}}.json

[INPUT]
    Name          proc
    Tag           {{typeTag}}.host.proc
    Proc_Name     fluent-bit
    Interval_Sec  60
    Fd            true
    Mem           true
