# Used by parser filter for tomcat multiline core parsing
#
[PARSER]
    name          parser-filter-regex-tomcat-{{typeTag}}
    Format        regex
    Regex         {{tomcatParserFilterRegex|safe}}
    Time_Key      tomcat_time

# Used by parser filter for generic multiline core parsing
#
[PARSER]
    name          parser-filter-regex-generic-{{typeTag}}
    Format        regex
    Regex         {{appParserFilterRegex|safe}}
    Time_Key      tomcat_time

# Tomcat localhost and catalina multiline core parser
#
[MULTILINE_PARSER]
    name          multiline-core-tomcat-regex-{{typeTag}}
    type          regex
    flush_timeout 1000
    key_content message
    rule      "start_state"   "{{startTomcatParserRegex|safe}}"  "cont"
    rule      "cont"          "{{contTomcatParserRegex|safe}}"    "cont"

# App (generic) multiline core parser
#
[MULTILINE_PARSER]
    name          multiline-core-app-regex-{{typeTag}}
    type          regex
    flush_timeout 1000
    key_content message
    rule      "start_state"   "{{startAppParserRegex|safe}}"  "cont"
    rule      "cont"          "{{contAppParserRegex|safe}}"    "cont"