{% import "../../macros/lua.njk" as lua %}
{{- lua.renderAppendTimestamp(typeTag) }}

[FILTER]
    Name modify
    Match {{typeTag}}
    Add event.kind metric
    Add event.category process
    Add event.dataset process.info
    Add event.type info
    Add labels.project {{ app | lower }}
    Add service.name {{ component | lower }}{% if environment %}
    Add service.environment {{ environment }}{% endif %}
    Rename pid process.pid
    Rename proc_name process.name
    Rename alive process.status.alive
    Rename fd process.status.fileDescriptor
    Rename mem.VmStk process.status.VmStk
    Rename mem.VmLib process.status.VmLib
    Rename mem.VmExe process.status.VmExe
    Rename mem.VmPTE process.status.VmPTE
    Rename mem.VmSwap process.status.VmSwap
    Rename mem.VmPeak process.status.VmPeak
    Rename mem.VmSize process.status.VmSize
    Rename mem.VmLck process.status.VmLck
    Rename mem.VmHWM process.status.VmHWM
    Rename mem.VmRSS process.status.VmRSS
    Rename mem.VmData process.status.VmData
    Add @metadata.keyAsPath true
