[SERVICE]
    Log_Level       error
    Log_File        /apps_ux/agents/main/logs/agent.log
    Parsers_File    {{FLUENT_HOME}}/conf/parsers.conf

@INCLUDE */input/*.conf
@INCLUDE */filter/*.conf
@INCLUDE filters.conf
@INCLUDE outputs.conf
