{% import "macros/lua.njk" as lua %}
[FILTER]
    Name modify
    Match *
    Add agent.type fluentbit
    Add agent.version ${FLUENT_VERSION}
    Add ecs.version 1.12.0
    Rename level log.level
    Rename event_sequence event.sequence
    Rename message event.original

{% for typeTag in measureTypes.historic -%}
{{ lua.renderLua(typeTag, 'timestamp.lua', 'append_event_created') }}
{% endfor %}

# There is a bug when resolving environment variables with spaces in the value :(
# So, we have to use Lua script for now
# Reference: https://github.com/fluent/fluent-bit/issues/1225
{{ lua.renderLua('*', 'timestamp.lua', 'add_host_metadata') }}

[FILTER]
    Name     nest
    Match     *
    Operation     nest
    Wildcard     log_file_*
    Nested_under     log_file
    Remove_prefix     log_file_

[FILTER]
    Name     nest
    Match     *
    Operation     nest
    Wildcard     log_*
    Nested_under     log
    Remove_prefix     log_
