{% import "macros/lua.njk" as lua %}
[FILTER]
    Name modify
    Match *
    Add agent.type fluentbit{% if not output_local_lambda %}
    Add agent.version ${FLUENT_VERSION}
    Add agent.name ${AGENT_NAME}{% endif %}
    Add ecs.version 1.12.0
    Rename event_sequence event.sequence
    Rename log_file_path log.file.path

{% for typeTag in measureTypes.historic -%}
{{ lua.renderLua(typeTag, 'timestamp.lua', 'append_event_created') }}
{% endfor %}

# There is a bug when resolving environment variables with spaces in the value :(
# So, we have to use Lua script for now
# Reference: https://github.com/fluent/fluent-bit/issues/1225
{{ lua.renderLua('*', 'host_metadata.lua', 'add_host_metadata') }}
