{% import "../../macros/lua.njk" as lua %}
{{- lua.renderAppendTimestamp(typeTag) }}

[FILTER]
    Name modify
    Match {{typeTag}}
    Add event.kind metric
    Add event.category host
    Add event.dataset host.disk_usage
    Add host.disk.name {{name}}
    Add @metadata.keyAsPath true

